.section-about {
  height: 300rem;
  margin-bottom: 25rem;
  position: relative;
  border: 1px solid red;

  .section-title-about {
    background-color: $color-dark;
    @include transit4;
    @include sticky-position;
    top: -2%;
  }
}
