.section-about {
  height: auto;
  margin-bottom: 15rem;
  position: relative;

  .section-title-about {
    background-color: $color-dark;
    @include transit4;
    z-index: 5;
  }

  .about-content-container {
    width: 100%;
    max-width: 120rem;
    height: auto;
    margin: 3rem auto 0;

    @include desktop {
      & {
        height: calc((100% - 15rem) - 3rem);
      }
    }

    .about-content-info {
      width: 90%;
      height: 50rem;
      margin: 0 auto 10rem;
      position: relative;
      @include transit4;
      @include sticky-position;
      top: 22%;

      &:nth-of-type(4) {
        height: 30rem;
      }

      @include tabletLandscape {
        & {
          width: 70%;
        }
      }

      @include desktop {
        & {
          top: 28%;
        }
      }

      @include XlargeDesktop {
        & {
          height: 100rem;
          top: 20%;
          margin-bottom: 20rem;
        }
      }

      .about-content-info-boxes {
        width: 90%;
        height: 70%;
        // opacity: 0;
        margin: 20rem auto 0;
        font-size: 3rem;
        @include transit6;
        @include flex-center-col;

        @include XlargeDesktop {
          & {
            height: 50%;
          }
        }

        .about-content-info-boxes-title {
          margin-bottom: 4rem;
          font-size: 2.2rem;
          color: $color-blue;

          @include desktop {
            & {
              font-size: 3rem;
            }
          }
        }

        .slide-boxes-images-container {
          @include keep-it-hundo;
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
          grid-gap: 1rem;

          @include XlargeDesktop {
            & {
              grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            }
          }

          .slide-boxes-images {
            width: 100%;
            height: 5rem;

            img {
              @include keep-it-hundo;
              object-fit: contain;
            }
          }
        }

        .slide-boxes {
          width: 80%;
          height: 5rem;
          @include flex-center;
          justify-content: flex-start;

          p {
            color: $color-gray-lite;
            font-size: 1.5rem;
            font-family: $tertiary-font;

            @include tabletLandscape {
              & {
                font-size: 2rem;
              }
            }

            @include XlargeDesktop {
              & {
                font-size: 2.5rem;
              }
            }

            span {
              color: $color-lite;
              margin-left: 1rem;
            }
          }
        }
      }

      .name-box {
        border: 1px solid $color-lite;
      }

      .slideFarRight {
        transform: translateX(200%);
        -webkit-transform: translateX(200%);
        -moz-transform: translateX(200%);
        -ms-transform: translateX(200%);
        -o-transform: translateX(200%);

        @include desktop {
          & {
            transform: translateX(500%);
            -webkit-transform: translateX(500%);
            -moz-transform: translateX(500%);
            -ms-transform: translateX(500%);
            -o-transform: translateX(500%);
          }
        }
      }
    }
  }
}

// JS Class

.stickyTop {
  position: absolute;
  position: sticky;
  top: -2%;
}
