.section-project {
  height: 80rem;

  @include desktop {
    & {
      height: 95rem;
    }
  }

  @include largeDesktop {
    & {
      height: 120rem;
    }
  }

  .projects-wrapper {
    width: 100%;
    max-width: 120rem;
    height: calc(100% - 10rem);
    margin: 0 auto;
    position: relative;
    @include flex-center;

    @include desktop {
      & {
        height: calc(100% - 15rem);
      }
    }

    .projects-container {
      width: 15rem;
      height: 50rem;
      position: relative;
      overflow: hidden;

      @include tabletLandscape {
        & {
          @include keep-it-hundo;
          margin: 0;
          @include flex-center;
        }
      }

      .projects-box {
        @include keep-it-hundo;
        position: relative;
        position: absolute;
        top: 0;
        background-color: $color-dark;
        border: 0.1rem solid $color-lite;
        overflow: hidden;
        cursor: pointer;
        @include transit4;

        @include tabletLandscape {
          & {
            width: 15rem;
            height: 50rem;
            margin: 0 1rem;
            position: static;
            position: relative;
          }
        }

        @include desktop {
          & {
            margin: 0 0.5rem;
          }
        }

        @include tabletLandscapeXL {
          & {
            margin: 0 1.5rem;
          }
        }

        @include largeDesktop {
          & {
            margin: 0 3rem;
          }
        }

        &:nth-of-type(1) {
          animation-delay: 300ms;
        }

        &:nth-of-type(2) {
          animation-delay: 600ms;
        }

        &:nth-of-type(3) {
          animation-delay: 900ms;
        }

        &:nth-of-type(4) {
          animation-delay: 1200ms;
        }

        &:nth-of-type(5) {
          animation-delay: 1500ms;
        }

        .projects-img-box {
          width: 100%;
          height: 35%;
          opacity: 0.4;
          @include transit4;

          .projects-img {
            @include keep-it-hundo;
            object-fit: contain;
          }
        }

        &:hover {
          box-shadow: 0rem 0rem 4rem $color-blue;
        }

        &:hover > .projects-img-box {
          opacity: 1;
        }

        .projects-info {
          width: 100%;
          height: 65%;
          position: relative;
          position: absolute;
          bottom: 0;
          left: 0;
          background-color: $color-dark;

          .projects-info-content {
            width: 29rem;
            height: 12rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            position: absolute;
            top: 30%;
            left: -49%;
            transform: rotate(-90deg);
            -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
            // border: 1px dotted red;

            .span-one {
              margin-bottom: 0.5rem;
              font-size: 2rem;
              font-family: $secondary-font;
              letter-spacing: 0.5rem;
            }

            .span-two {
              margin-top: 0.5rem;
              font-size: 5rem;
              -webkit-text-stroke: 0.15rem $color-lite;
              -webkit-text-fill-color: transparent;
            }
          }
        }
      }
    }

    .prev-slide,
    .next-slide {
      width: 5rem;
      height: 5rem;
      position: absolute;
      top: 50%;
      @include transformY;
      @include transit3;
      cursor: pointer;
      background-image: url(../public/images/slider_mini_lines.png);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }

      @include tabletLandscape {
        & {
          display: none;
        }
      }
    }

    .prev-slide {
      left: 5%;
      transform: scaleX(-1) translateY(-50%);
      -webkit-transform: scaleX(-1) translateY(-50%);
      -moz-transform: scaleX(-1) translateY(-50%);
      -ms-transform: scaleX(-1) translateY(-50%);
      -o-transform: scaleX(-1) translateY(-50%);

      @include tabletPortrait {
        & {
          left: 25%;
        }
      }
    }

    .next-slide {
      right: 5%;

      @include tabletPortrait {
        & {
          right: 25%;
        }
      }
    }
  }
}
