.section-about {
  height: 200rem;
  //   border: 1px solid red;
  position: relative;

  // .section-title-about {
  //   position: absolute;
  //   position: sticky;
  //   top: 0;
  // }
}

// JS Class

.stickyTop {
  position: absolute;
  position: sticky;
  top: 0;
}
