.section-title {
  width: 90%;
  height: 10rem;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  opacity: 0;
  animation-delay: 300ms;

  @include desktop {
    & {
      height: 15rem;
    }
  }

  p {
    position: relative;
    font-size: 3rem;
    letter-spacing: 0.5rem;

    @include tabletPortrait {
      & {
        font-size: 4rem;
      }
    }

    @include desktop {
      & {
        font-size: 5rem;
      }
    }

    &::before {
      content: "";
      // width: 50%;
      height: 100%;
      position: absolute;
      top: 20%;
      left: -55%;
      background-image: url(../public/images/lines.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: top;

      @include tabletPortrait {
        & {
          width: 50%;
        }
      }
    }

    &::after {
      content: "";
      // width: 50%;
      height: 100%;
      position: absolute;
      top: -15%;
      right: -53%;
      background-image: url(../public/images/lines.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: bottom;

      @include tabletPortrait {
        & {
          width: 50%;
        }
      }
    }
  }
}

// Animation Class

.galleryAnimateIn {
  animation: galleryAnimation 1000ms ease both;
  -webkit-animation: galleryAnimation 1000ms ease both;
}

// Keyframes for Animations

@keyframes galleryAnimation {
  0% {
    opacity: 0;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    // -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
  }

  60% {
    opacity: 1;
    transform: translateY(-10%);
    -webkit-transform: translateY(-10%);
    -moz-transform: translateY(-10%);
    // -ms-transform: translateY(-10%);
    -o-transform: translateY(-10%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    // -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
